:root {
  --color-primary: #4c4e61;
  --color-secondary: #a3a5ae;
  --color-red: #ea5353;
  --color-cyan: #45d3d3;
  --color-orange: #fcaf4a;
  --color-blue: #549ef2;
  --color-background: #fafafa;

  --fs-xl: 2.6rem;
  --fs-600: 2.2rem;
  --fs-500: 1.7rem;
  --fs-400: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@media screen and (min-width: 900px) {
  :root {
    --fs-500: 1.6rem;
    --fs-400: 1.4rem;
  }
}

.container,
.card-container {
  width: 85%;
  max-width: 520px;
  margin: 0 auto;
}

.card-container {
  max-width: 450px;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  color: var(--color-secondary);
  background-color: var(--color-background);
}

h1,
h2 {
  font-weight: 600;
  color: var(--color-primary);
}

h1 {
  font-size: var(--fs-xl);
  margin: 0;
}

h2 {
  font-size: var(--fs-600);
}

.h1--lightweight {
  font-weight: 200;
}

/*Introduction Section*/
.introduction {
  padding: 5em 0;
  text-align: center;
}

.intro__title {
  margin-bottom: 0.4em;
}

.intro__text {
  margin-top: 1.3em;
  font-size: var(--fs-500);
  line-height: 1.5;
}

/* Feature Card */
.feature-card {
  display: grid;
  gap: 3rem;
  margin-bottom: 5em;
}

.card {
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0 15px 20px 3px #a3a5ae50;
}

.card--cyan {
  border-top: 5px solid var(--color-cyan);
}

.card--red {
  border-top: 5px solid var(--color-red);
}

.card--orange {
  border-top: 5px solid var(--color-orange);
}

.card--blue {
  border-top: 5px solid var(--color-blue);
}

.card__title {
  margin-bottom: 0.5em;
}

.card__text {
  line-height: 1.6;
}

.card__img {
  margin-top: 2em;
  text-align: end;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  font-weight: 600;
}

.challenge {
  color: var(--color-red);
}

.challenge:hover,
.challenge:focus {
  color: var(--color-cyan);
}

.builder {
  color: var(--color-orange);
}

.builder:hover,
.builder:focus {
  color: var(--color-blue);
}

@media screen and (min-width: 900px) {
  .card-container {
    width: 80%;
    max-width: 2000px;
    margin: 0 auto 5em;
  }

  .card--cyan {
    grid-area: cyan;
  }

  .card--red {
    grid-area: red;
  }

  .card--orange {
    grid-area: orange;
  }

  .card--blue {
    grid-area: blue;
  }

  .feature-card {
    justify-content: center;
    grid-template-columns: repeat(3, minmax(5vw, 350px));
    grid-template-areas:
      ". red ."
      "cyan red blue"
      "cyan orange blue"
      ". orange .";
  }
}
